[submodule "src/control_msgs"]
    path = src/control_msgs
    url = https://github.com/ros-controls/control_msgs.git
[submodule "src/control_toolbox"]
    path = src/control_msgs
    url = https://github.com/ros-controls/control_toolbox.git
[submodule "src/gazebo_ros2_control"]
    path = src/gazebo_ros2_control
    url = https://github.com/ros-controls/gazebo_ros2_control.git
[submodule "src/kinematics_interface"]
    path = src/kinematics_interface
    url = https://github.com/ros-controls/kinematics_interface.git
[submodule "src/ros2_control"]
    path = src/ros2_control
    url = https://github.com/ros-controls/ros2_control.git
[submodule "src/ros2_control_demos"]
    path = src/ros2_control_demos
    url = https://github.com/ros-controls/ros2_control_demos.git
[submodule "src/ros2_controllers"]
    path = src/ros2_controllers
    url = https://github.com/ros-controls/ros2_controllers.git
[submodule "src/control_toolbox"]
    path = src/control_toolbox
    url = https://github.com/ros-controls/control_toolbox.git
[submodule "src/gazebo_ros_pkgs"]
    path = src/gazebo_ros_pkgs
    url = https://github.com/ros-controls/gazebo_ros_pkgs.git
[submodule "src/realtime_tools"]
    path = src/realtime_tools
    url = https://github.com/ros-controls/realtime_tools.git
